In [1]:
#importar libraries

import numpy as np
import scipy
import pandas as pd
import datetime as dt

In [2]:
train = pd.read_excel("Train.xlsx")
test = pd.read_excel("Test.xlsx")

In [3]:
train_0 = train.loc[train['Income'] == 0]
train_1 = train.loc[train['Income'] == 1]
# Income = 0 - Rendimento =< da média
# Income = 1 - Rendimento > da média

In [4]:
print("Nº de pessoas com rendimento = 0:", len(train_0))
print("Nº de pessoas com rendimento = 1:", len(train_1))
print("% de pessoas com rendimento = 0:", len(train_0)/len(train)*100, "%")
print("% de pessoas com rendimento = 1:", len(train_1)/len(train)*100, "%")

Nº de pessoas com rendimento = 0: 17089
Nº de pessoas com rendimento = 1: 5311
% de pessoas com rendimento = 0: 76.29017857142857 %
% de pessoas com rendimento = 1: 23.709821428571427 %

In [5]:
print("% de pessoas com rendimento = 0 que receberam dinheiro:", len(train_0.loc[train_0['Money Received'] != 0])/len(train_0)*100, "%")
print("% de pessoas com rendimento = 1 que receberam dinheiro:", len(train_1.loc[train_1['Money Received'] != 0])/len(train_1)*100, "%")
print("% de pessoas com rendimento = 0 que pagaram bilhete:", len(train_0.loc[train_0['Ticket Price'] != 0])/len(train_0)*100, "%")
print("% de pessoas com rendimento = 1 que pagaram bilhete:", len(train_1.loc[train_1['Ticket Price'] != 0])/len(train_1)*100, "%")

% de pessoas com rendimento = 0 que receberam dinheiro: 4.160571127625958 %
% de pessoas com rendimento = 1 que receberam dinheiro: 21.107136132555073 %
% de pessoas com rendimento = 0 que pagaram bilhete: 3.025337936684417 %
% de pessoas com rendimento = 1 que pagaram bilhete: 10.167576727546601 %

In [6]:
print("% de pessoas que receberam dinheiro:", len(train.loc[train['Money Received'] != 0])/len(train)*100, "%")

% de pessoas que receberam dinheiro: 8.178571428571429 %

In [7]:
print("% de pessoas que pagaram dinheiro:", len(train.loc[train['Ticket Price'] != 0])/len(train)*100, "%")

% de pessoas que pagaram dinheiro: 4.71875 %

In [8]:
gender = train["Name"].str.split(" ", n=1, expand=True).rename(columns={0:"Gender", 1:"Name"}) #Split 
#da coluna "Name" pelo nome e pronome
gender.drop_duplicates("Gender") #Verificar os pronomes existentes ("Mr.", "Mrs." e "Miss")

   Gender              Name
0     Mr.       Adam Glover
8    Miss  Alexandra Tucker
19   Mrs.     Grace Russell

In [9]:
gender['Gender'].replace('Miss','F',inplace=True)
gender['Gender'].replace('Mrs.','F',inplace=True)
gender['Gender'].replace('Mr.','M',inplace=True)
train = train.drop("Name", axis=1)
train = pd.concat([gender, train], axis=1).set_index('CITIZEN_ID').reset_index()
train.replace('?','NaN',inplace=True)

In [10]:
birthday = train["Birthday"].str.split(",", n=1, expand=True).rename(columns={0:"Day and month", 1:"Year"})
train = train.assign(Birthday=birthday['Year'])

In [11]:
train["Birthday"] = train["Birthday"].astype(str).astype(int)
train["Birthday"] = 2048 - train["Birthday"]
train.rename(columns={'Birthday':'Age'}, inplace=True)

In [12]:
train["Money Received"] = -1 * train["Money Received"]
train['Ticket Price']= train['Money Received']+ train['Ticket Price']
del train['Money Received']

In [13]:
train["Employment Sector"].drop_duplicates()

0       Private Sector - Services
1           Public Sector - Others
4       Self-Employed (Individual)
8          Private Sector - Others
22                             NaN
29         Self-Employed (Company)
48      Public Sector - Government
81                      Unemployed
1306                  Never Worked
Name: Employment Sector, dtype: object

In [14]:
train["Role"].drop_duplicates()

0                Repair & constructions
2                                 Sales
3                              Security
4                             Professor
5                   Cleaners & Handlers
7                        Other services
8        Machine Operators & Inspectors
10                           Management
12                      Administratives
18                           Transports
22                                  NaN
41              Agriculture and Fishing
66                                   IT
116                  Household Services
10653                              Army
Name: Role, dtype: object

In [15]:
train["Education Level"].drop_duplicates()

0              High School + PostGraduation
1                       Professional School
3                   High School - 2nd Cycle
4                                       PhD
5                                 Bachelors
9                Bachelors + PostGraduation
10                                  Masters
19                  High School - 1st Cycle
26                     High School Complete
29                 Masters + PostGraduation
35     Professional School + PostGraduation
36                Middle School - 2nd Cycle
90                   Middle School Complete
119               Middle School - 1st Cycle
193                          Primary School
522                               Preschool
Name: Education Level, dtype: object

In [16]:
train

,CITIZEN_ID,Gender,Name,Age,Native Continent,Marital Status,Lives with,Base Area,Education Level,Years of Education,Employment Sector,Role,Working Hours per week,Ticket Price,Income
0,12486,M,Adam Glover,45,Europe,Married,Wife,Northbury,High School + PostGraduation,13,Private Sector - Services,Repair & constructions,40,2273,1
1,12487,M,Cameron McDonald,42,Europe,Married,Wife,Northbury,Professional School,12,Public Sector - Others,Repair & constructions,40,0,1
2,12488,M,Keith Davidson,39,Europe,Married,Wife,Northbury,Professional School,12,Private Sector - Services,Sales,46,2321,1
3,12489,M,Alexander Gill,63,Europe,Married,Wife,Northbury,High School - 2nd Cycle,11,Private Sector - Services,Security,37,-5395,1
4,12490,M,Neil Piper,33,Europe,Single,Other Family,Northbury,PhD,21,Self-Employed (Individual),Professor,45,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22395,34881,F,Lisa Alsop,25,Europe,Divorced,Children,Northbury,Professional School,12,Private Sector - Services,Cleaners & Handlers,40,0,0
22396,34882,M,Julian Coleman,23,Europe,Single,Children,Northbury,Professional School,12,Private Sector - Services,Other services,35,0,0
22397,34883,F,Amelia Walker,26,Europe,Single,Other Family,Northbury,Masters,17,Public Sector - Others,Professor,40,-2674,0
22398,34884,M,Justin Sutherland,37,Europe,Single,Other Family,Northbury,Bachelors + PostGraduation,16,Private Sector - Services,Repair & constructions,90,0,1
22399,34885,M,Joseph Murray,22,Asia,Single,Children,Northbury,High School + PostGraduation,13,Private Sector - Services,Transports,40,0,0